<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VShop.styles.css" asp-append-version="true" />
    <style>
        .sidebar {
            min-height: 100vh;
            background-color: #f8f9fa;
            border-right: 1px solid #dee2e6;
            padding-top: 20px;
        }

        .nav-link {
            border-radius: 0;
        }

        .main-content {
            padding: 20px;
        }

        .active-nav {
            background-color: #0d6efd;
            color: white !important;
        }

        .nav .collapse .nav-link {
            padding-left: 30px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-3 col-lg-2 sidebar">
                <div class="d-flex flex-column">
                    <a class="navbar-brand mb-4 mx-3" asp-controller="Home" asp-action="Index">VShop</a>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Usuarios</a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="col-md-9 col-lg-10 main-content">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>

                <footer class="border-top footer text-muted">
                    <div class="container">
                        &copy; @DateTime.Now.Year - VShop
                    </div>
                </footer>
                <script src="~/lib/jquery/dist/jquery.min.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                <script src="~/js/site.js" asp-append-version="true"></script>
                <script src="~/js/Moneda.js" asp-append-version="true"></script>
                <script src="~/js/Moneda-opcional.js" asp-append-version="true"></script>
            </div>

            @await RenderSectionAsync("Scripts", required: false)
        </div>
    </div>
</body>
</html>